<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>nsbox</vendor>
  <vendor_url>https://nsbox.dev/</vendor_url>

  <action id="dev.nsbox.config">
    <description>Configure a container</description>
    <message>Authentication is required to configure a container</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">@NSBOX_INVOKER</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">config</annotate>
  </action>

  <action id="dev.nsbox.create">
    <description>Create a new container</description>
    <message>Authentication is required to create a new container</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">@NSBOX_INVOKER</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">create</annotate>
  </action>

  <action id="dev.nsbox.kill">
    <description>Kill a container</description>
    <message>Authentication is required to kill a container</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">@NSBOX_INVOKER</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">kill</annotate>
  </action>

  <action id="dev.nsbox.images">
    <description>List the available images</description>
    <message>Authentication is required to list the available images</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">@NSBOX_INVOKER</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">images</annotate>
  </action>

  <action id="dev.nsbox.info">
    <description>Get container information</description>
    <message>Authentication is required to find information on a container</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">@NSBOX_INVOKER</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">info</annotate>
  </action>

  <action id="dev.nsbox.list">
    <description>List the installed containers</description>
    <message>Authentication is required to list the installed containers</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">@NSBOX_INVOKER</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">list</annotate>
  </action>

  <action id="dev.nsbox.run">
    <description>Run a container</description>
    <message>Authentication is required to run a container</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">@NSBOX_INVOKER</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">run</annotate>
  </action>

  <action id="dev.nsbox.set-default">
    <description>Set the default container</description>
    <message>Authentication is required to set the default container</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">@NSBOX_INVOKER</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">set-default</annotate>
  </action>
</policyconfig>
