polkit.addRule(function (action, subject) {
  if ((action.id == '@RDNS_NAME.info' || action.id == '@RDNS_NAME.list'
        || action.id == '@RDNS_NAME.run' || action.id == '@RDNS_NAME.images')
      && subject.active && subject.local && subject.isInGroup('wheel')) {
    return polkit.Result.YES
  }

  return polkit.Result.NOT_HANDLED
})
