policy_module(@PRODUCT_NAME, @VERSION)

require {
  type bin_t;
  type home_root_t;
  type init_t;
  type kernel_t;
  type mail_spool_t;
  type passwd_file_t;
  type shadow_t;
  type spc_t;
  type sysctl_net_t;
  type var_lib_t;
  type user_tmp_t;
}

type @{TYPE_PREFIX}_nsboxd_t;
type @{TYPE_PREFIX}_nsboxd_exec_t;
init_daemon_domain(@{TYPE_PREFIX}_nsboxd_t, @{TYPE_PREFIX}_nsboxd_exec_t)

# To transition to spt_t when exec-ing nspawn
spec_domtrans_pattern(@{TYPE_PREFIX}_nsboxd_t, bin_t, spc_t)
domain_entry_file(spc_t, bin_t)

optional_policy(`
unconfined_domain(@{TYPE_PREFIX}_nsboxd_t)
')
