[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A powerful pet container manager
[access "refs/*"]
	owner = group user/Ryan Gonzalez (refi64)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Ryan Gonzalez (refi64)
	label-Verified = -1..+1 group user/Ryan Gonzalez (refi64)
	push = group user/Ryan Gonzalez (refi64)
	read = group user/Ryan Gonzalez (refi64)
	rebase = group user/Ryan Gonzalez (refi64)
	removeReviewer = group user/Ryan Gonzalez (refi64)
	submit = group user/Ryan Gonzalez (refi64)
[access "refs/heads/*"]
	create = group user/Ryan Gonzalez (refi64)
	push = +force group user/Ryan Gonzalez (refi64)
	pushMerge = group user/Ryan Gonzalez (refi64)
	read = group user/Ryan Gonzalez (refi64)
[access "refs/tags/*"]
	push = group user/Ryan Gonzalez (refi64)
	push = +force group user/Ryan Gonzalez (refi64)
