.custom-block
  background-color #f3f5f7

  .custom-block-title
    font-family Dosis, sans-serif
    letter-spacing 0.4px
    font-size 1.4rem
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
  &.tip
    border-color $accentColor
  &.warning
    border-color #88008e
    .custom-block-title
      color #88008e
  &.danger
    border-color #b10000
    .custom-block-title
      color d#b10000
  &.details
    display block
    position relative
    border-radius 2px
    margin 1.6em 0
    padding 1.6em
    h4
      margin-top 0
    figure, p
      &:last-child
        margin-bottom 0
        padding-bottom 0
    summary
      outline none
      cursor pointer

@media (prefers-color-scheme: dark)
  .custom-block
    background-color #363636
    &.warning
      border-color #f970ff
      .custom-block-title
        color #f970ff
