$accentColor = #099749
$contentClass = '.theme-default-content'
$textColor = black

$darkBackgroundColor = #191919
$darkTextColor = white

accentFont()
  font-family 'Advent Pro', sans-serif
  letter-spacing 0.4px
