# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.

[Unit]
Description=nsbox container target
Requires=default.target nsbox-init.service
After=default.target nsbox-init.service
AllowIsolate=yes
